{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Book</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_task', task_id=task._id) }}">
        <!--task category-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="category_name" name="category_name" minlength="5" maxlegth="50" 
                    value="{{ task.category_name }}" type="text" class="validate"
                    required>
                <label for="category_name">Book Name</label>
            </div>
        </div>
        <!--task name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="book_name" name="book_name" minlength="5" maxlegth="50" 
                    value="{{ task.book_name }}" type="text" class="validate"
                    required>
                <label for="book_name">Book Name</label>
            </div>
        </div>
        <!--book author-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="book_author" name="book_author" minlength="5" maxlegth="50" 
                    value="{{ task.book_author }}" type="text" class="validate" required>
                <label for="book_author">Book Author</label>
            </div>
        </div>
        <!--task description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="book_description" name="book_description" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required>
                {{- task.book_description -}}
                </textarea>
                <label for="book_description">Book Description</label>
            </div>
        </div>
        <!--is bestseller toggle-->
        <div class="row">
            <div class="input-field col-12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                    <label for="is_bseller">
                        {% if task.is_bseller == "on" %}
                            <input type="checkbox" id="is_bseller" name="is_bseller" checked> 
                        {% else %}
                            <input type="checkbox" id="is_urgent" name="is_bseller">
                        {% endif %}
                        <span class="lever"></span>
                        Bestseller
                    </label>
                </div>
            </div>
        </div>
        <!--book pages-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="book_pages" name="book_pages" minlength="1" maxlegth="5" value="{{ task.book_pages }}" type="text" class="validate"
                    required>
                <label for="book_pages">Number of Pages</label>
            </div>
        </div>
        <!--isbn 13-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="book_isbn" name="book_isbn" minlength="13" maxlegth="13" value="{{ task.book_isbn }}" type="text" class="validate"
                    required>
                <label for="book_isbn">ISBN -13</label>
            </div>
        </div>
        <!--submit button-->
        <div class="row">
            <div class="col-12 center-align">
                <!--cancel button-->
                <a href="{{ url_for('get_tasks') }}" class="btn-large red text-shadow">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
            </div>    
        </div>
    </form> 
</div>

{% endblock %}