{% extends "base.html" %}
{% block content %}


<div class="row">
    <fdiv class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
</div>
</div>

{% if tasks|length > 0 %}
<ul class="row">
    
    <li>
        <div class="row ">
            <div class="row">
                <div class="row">
                    {% for task in tasks %}
                    {% if session.user|lower == task.created_by|lower or session.user|lower == "admin"|lower %}
                    <div class="col s12 m4">
                        <div class="card light-blue darken-4 text-shadow center-align">
                            <div class="card-content white-text">
                                <span class="card-title">{{ task.book_name }}
                                {% if task.is_bseller == "on" %}
                                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                                    data-position="right" data-tooltip="Bestseller!"></i>
                                {% endif %}
                                </span>
                            </div>
                            <div class="card-action">
                                {% if session.user|lower == task.created_by|lower or session.user|lower == "admin"|lower %}
                                <a href="{{ url_for('delete_task', task_id=task._id) }}"
                                    class="btn-small green accent-4">Delete</a>
                                <a href="{{ url_for('edit_task', task_id=task._id) }}"
                                    class="btn-small light-blue lighten-1">Edit</a>
                                {% endif %}
                                <a href="{{ url_for('get_book', task_id=task._id) }}"
                                    class="btn-small light-yellow lighten-1">More</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>



        </div>
    </li>
    
</ul>
{% else %}
<h3 class="red-text text-darken-4 center-align">No Records Found</h3>
{% endif %}


{% endblock %}

